<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color: white">Welcome to {{ title }}!</h1>
  <img width="300" alt="Angular Logo" src="../assets/NSGIF-15689089669.gif" />
  <img width="300" alt="Angular Logo" src="../assets/NSGIF-15689086352.gif" />
</div>
<div style="text-align:center">
  <img width="300" alt="Angular Logo" src="../assets/modulo.png" />
  <img width="300" alt="Angular" src="../assets/todos.png" />
</div>
<router-outlet></router-outlet>
